@charset "UTF-8";
.flexslider {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0;
}
.product-detail {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color: #333333;
}
.product-detail > .w-box {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0 40px;
}
.product-detail h2 {
  float: left;
  font-size: 60px;
  color: #cb134b;
  min-height: 1px;
  line-height: 1;
  font-weight: normal;
}
.product-detail .info {
  position: relative;
  margin: 0 0 20px 325px;
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
}
.product-detail .info a {
  transition: all 300ms ease;
  color: #cb134b;
  text-decoration: none;
}
.product-detail .info a:hover {
  color: #eb2662;
  text-decoration: underline;
}
.product-detail .info > h3 {
  padding: 10px 0 4px;
  font-size: 18px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
}
.product-detail .info > h3 a {
  font-size: 12px;
}
.product-detail .info > p {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  height: 20px;
}
.product-detail .btnclose {
  position: absolute;
  top: 50px;
  right: -30px;
  z-index: 10;
  width: 90px;
  height: 90px;
  text-indent: -999px;
  border: 0;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  background: url(../images/cancel.png) center no-repeat;
}
.product-detail .detail-img-box:hover .flex-direction-nav .flex-prev {
  left: -50px;
  opacity: 1;
}
.product-detail .detail-img-box:hover .flex-direction-nav .flex-next {
  right: -50px;
  opacity: 1;
}
.product-detail .detail-img-box .flex-direction-nav .flex-prev,
.product-detail .detail-img-box .flex-direction-nav .flex-next {
  opacity: 1;
}
.product-detail .detail-img-box .flex-direction-nav .flex-prev,
.product-detail .detail-img-box .flex-direction-nav .flex-next {
  display: block;
  width: 32px;
  height: 92px;
  opacity: 1;
  margin-top: -46px;
  cursor: pointer;
}
.product-detail .detail-img-box .flex-direction-nav .flex-prev:before,
.product-detail .detail-img-box .flex-direction-nav .flex-next:before {
  display: inline-block;
  content: " ";
  width: 32px;
  height: 92px;
  background-size: 80% auto;
}
.product-detail .detail-img-box .flex-direction-nav .flex-prev:hover,
.product-detail .detail-img-box .flex-direction-nav .flex-next:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
.product-detail .detail-img-box .flex-direction-nav .flex-prev {
  left: -50px;
}
.product-detail .detail-img-box .flex-direction-nav .flex-prev:before {
  background: transparent url(../images/pre.png) center no-repeat;
}
.product-detail .detail-img-box .flex-direction-nav .flex-next {
  right: -50px;
}
.product-detail .detail-img-box .flex-direction-nav .flex-next:before {
  background: transparent url(../images/next.png) center no-repeat;
}
.product-detail .detail-img-box .slides li {
  position: relative;
  height: 600px;
  overflow: hidden;
}
.product-detail .detail-img-box .slides li img {
  position: absolute;
  top: -999px;
  right: -999px;
  bottom: -999px;
  left: -999px;
  margin: auto auto;
}
.product-detail .detail-img-box .flex-control-nav {
  display: none;
}
.show-product {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}
.show-product.show {
  height: 720px;
  overflow: hidden;
}
@media screen and (min-width: 1000px) and (max-width: 1350px) {
  .product-detail > .w-box {
    width: 900px;
  }
  .product-detail h2 {
    font-size: 40px;
  }
  .product-detail .info {
    margin-left: 200px;
  }
  .product-detail .info > h3 {
    font-size: 16px;
    padding: 2px 0 0;
  }
  .product-detail .info > p {
    font-size: 12px;
  }
  .product-detail .btnclose {
    width: 50px;
    height: 50px;
    right: -18px;
    top: 60px;
    background-size: 100% auto;
  }
  .product-detail .detail-img-box .slides li {
    height: 450px;
  }
  .show-product.show {
    height: 552px;
    overflow: hidden;
  }
}
@media screen and (min-width: 500px) and (max-width: 999px) {
  .product-detail > .w-box {
    width: 600px;
  }
  .product-detail h2 {
    font-size: 40px;
  }
  .product-detail .info {
    margin-left: 100px;
  }
  .product-detail .info > h3 {
    font-size: 16px;
    padding: 2px 0 0;
  }
  .product-detail .info > p {
    font-size: 12px;
  }
  .product-detail .btnclose {
    width: 30px;
    height: 30px;
    top: 70px;
    right: -12px;
    background-size: 100% auto;
  }
  .product-detail .detail-img-box .slides li {
    height: 300px;
  }
  .show-product.show {
    height: 402px;
    overflow: hidden;
  }
}
/*# sourceMappingURL=css/_productDetail.css.map */