@charset "UTF-8";

@import '_productDetail';
@import '_footer';


// reset
* {
    margin: 0;
    padding: 0;
}

ul,
li,
dl,
dt {
    list-style: none;
}

// variables
.clearfix {
    zoom: 1;
}

.clearfix:after {
    height: 0;
    clear: both;
    display: block;
    content: '';
}

html {
    -webkit-font-smoothing: antialiased;
    font-size-adjust: none;
    -webkit-font-size-adjust: none;
}

html,
body {
    height: 100%;
    background: #030303;
    // 字体处理
    font-family: arial, '微软雅黑', 'Microsoft YaHei';
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

.icon{
    display: inline-block;
    vertical-align: middle;
}


@import "_title";

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    .head {
        // width: 1024px;
        width: 100%;
        margin: 0 auto;
        padding: 10px 0px 7px 0px;
        .logo {
            float: left;
            margin-left: 5%;
        }
        ul {
            float: right;
            margin-right: 3%;
            li {
                float: left;
                margin-left: 33px;
                line-height: 39px;
                font-size: 14px;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
            .active {
                a {
                    color: #cb134b;
                }
            }
        }
    }
}

.floor_1 {
    position: relative;
    width: 100%;
    z-index: 0;
    .nav_show {
        height: 100%;
        width: 100%;
        position: relative;
        background: url(../images/banner.jpg) center no-repeat;
        background-size: cover;
        .title {
            position: relative;
            text-align: center;
            padding-top: 185px;
            color: #b6b7ba;
            animation: slide-left .5s;
            font-weight: normal;
            font-size: 40px;
            margin: 0;
        }
        h2 {
            text-align: center;
            position: relative;
        }
        .logo_img {
            animation: slide-left 1s;
            margin-top: 50px;
            img{
                max-width: 200px;
                max-height: 200px;
            }
        }
        .logo_font {
            margin-top: 20px;
            animation: slide-left 1.5s;
        }
        .down {
            display: block;
            width: 56px;
            height: 56px;
            margin: 54px auto;
            background: url(../images/down.png) no-repeat;
        }
    }
    .nav {
        position: relative;
        width: 100%;
        padding-bottom: 40px;
        background: url(../images/banner_1.jpg) center;
        background-size: 100% 100%;
        .title {
            color: #6c6c6c;
            text-align: center;
            font-size: 24px;
            line-height: 58px;
            font-weight: 400;
        }
        .more {
            position: absolute;
            width: 40px;
            height: 16px;
            bottom: 4px;
            left: 50%;
            cursor: pointer;
            padding-top: 15px;
            margin: 0 0 0 -20px;
            color: #989898;
            font-size: 12px;
            text-decoration: none;
            animation: breathe 3s infinite linear;
            text-align: center;
            .icon-more{
                position: absolute;
                top: 0;
                left: 10px;
                width: 20px;
                height: 11px;
                background:transparent url(../images/more.png) center no-repeat;
            }
        }
        ul {
            width: 1200px;
            position: relative;
            margin: 0 auto;
            li {
                float: left;
                width: 200px;
                color: #989898;

                &:hover .img {
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    transform: scale(1.1);
                }
                .img {
                    margin: 0 auto;
                    width: 56px;
                    height: 62px;
                    transition: all .3s;
                    cursor: pointer;
                }
                .title_n {
                    opacity: .8;
                    font-size: 18px;
                    margin-top: 15px;
                    text-align: center;
                }
                .title_n_d {
                    opacity: .8;
                    font-size: 12px;
                    margin-top: 15px;
                    text-align: center;
                }
            }
            .li_1 {
                background: url(../images/nav_r.png) right 10px no-repeat;
            }
            .more_active {
                .icon-more{
                    width: 20px;
                    height: 11px;
                    background:transparent url(../images/more_active.png) center no-repeat;
                }
            }
        }
    }
}


@media screen{
    @media (min-width:1200px) and (max-width:1450px){
        .floor_1 .nav{
            position: relative;
            padding: 0 0 20px;
            ul{
                li{
                    .img{
                        width: 40px;
                        height: 40px;
                        img{
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .title_n {
                        font-size: 16px;
                    }
                    .title_n_d{
                        margin-top: 6px;
                    }
                }
            }

            .title{
                padding:8px 0 10px;
                line-height: 40px;
            }
            .more{
            }
        }
    }
}

@import "_floor2";
@import "_floor3";
@import "_floor4";
@import "_floor5";



.floor_6 {
    // padding-top: 64px;
    background: #1b1b1b;
    height: 1360px;
    h1 {
    }
    .state {
        font-size: 14px;
        color: #a3a3a3;
        z-index: 999;
    }
    h3 {
        font-size: 14px;
        color: #a3a3a3;
        margin-top: 15px;
        z-index: 999;
        a {
            color: #cb134b;
            margin-left: 25px;
            text-decoration: underline;
            font-weight: normal;
        }
    }
    .item {
        margin: 0 auto;
        width: 1040px;
        height: 995px;
        // overflow: hidden;
        position: relative;
        ul {
            position: absolute;
            li {
                position: relative;
                background: #1d1d1d;
                height: 290px;
                width: 205px;
                margin-bottom: 6px;
                overflow: hidden;
                &:hover .introduce {
                    bottom: 0px;
                }
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    border: none;
                }
                .introduce {
                    box-sizing: border-box;
                    width: 100%;
                    padding: 15px;
                    position: absolute;
                    bottom:-290px;
                    left: 0;
                    background: #cb134b;
                    color: #ffffff;
                    transition: all .5s;
                    .name {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    .text {
                        font-size: 14px;
                        line-height: 20px;
                        width: 100%;
                    }
                }
            }
        }
        .ul_lside_1 {
            opacity: .8;
            height: 0;
            top: 0;
            overflow: hidden;
            left: -400px;
            li {
                width: 190px;
            }
            li:first-child {
                height: 145px;
            }
            li:first-child {
                height: 50px;
            }
        }
        .ul_lside {
            opacity: .8;
            height: 0;
            top: 0;
            overflow: hidden;
            left: -200px;
            li {
                width: 190px;
            }
            li:first-child {
                height: 145px;
            }
            li:first-child {
                height: 100px;
            }
        }
        .ul_rside {
            opacity: .8;
            height: 0;
            top: 0;
            overflow: hidden;
            left: 1055px;
            li {
                width: 190px;
            }
            li:first-child {
                height: 200px;
            }
            li:last-child {
                height: 188px;
            }
        }
        .ul_rside_1 {
            opacity: .8;
            height: 0;
            top: 0;
            overflow: hidden;
            left: 1255px;
            li {
                width: 190px;
            }
            li:first-child {
                height: 290px;
            }
            li:last-child {
                height: 100px;
            }
        }
        .ul_1 {
            top: 0px;
            left: 0px;
        }
        .ul_2 {
            li:first-child {
                height: 200px;
            }
            left: 210px;
            li:last-child {
                height: 100px;
            }
        }
        .ul_3 {
            li:first-child {
                height: 70px;
            }
            left: 420px;
        }
        .ul_4 {
            li:first-child {
                height: 110px;
            }
            left: 630px;
        }
        .ul_5 {
            top: 0px;
            left: 840px;
        }
        .li_1 {
            height: 875px;
        }
    }
    .company {
        max-width: 1200px;
        margin: 0 auto;
        li {
            float: left;
            width: 25%;
            font-size: 14px;
            color: #878787;
            padding-top: 20px;
            line-height: 50px;
            position: relative;
            text-align: center;
            .city {
                font-size: 20px;
                font-weight: 600;
                margin-right: 20px;
            }
            .name{
                display: inline-block;
                line-height: 18px;
            }
            i {
                font-size: 16px;
                font-style: normal;
                position: absolute;
                right: 0px;
                top: 24px;
                color: #3f3f3f;
            }
            .hide {
                opacity: 0;
            }
        }
        em{
        	display: inline-block;
        	vertical-align: middle;
        }
        .em_1 {
        	width: 37px;
        	height: 24px;
            background: url(../images/city_1.png) no-repeat 0 center;
            position: relative;
            top: -5px;
        }
        .em_2 {
        	width: 21px;
        	height: 38px;
            background: url(../images/city_2.png) no-repeat 0 center;
            position: relative;
            top: -12px;
        }
        ;
        .em_3 {
        	width: 22px;
        	height: 44px;
            background: url(../images/city_3.png) no-repeat 0 center;
            position: relative;
            top: -15px;
        }
        .em_4 {
        	width: 31px;
        	height: 26px;
            background: url(../images/city_4.png) no-repeat 0 center;
            position: relative;
            top: -5px;
        }
    }
}

.floor_7 {
    position: relative;
    height: 1027px;
    overflow: hidden;
    background: url(../images/banner_4.jpg) center no-repeat;
    .web-title{
        position: absolute;
        top: 0;left: 0;
    }
    .title-empty-box{
        height: 148px;
    }
    .bg {
        vertical-align: top;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border: 0;
        display: block;
    }
    .contact {
        position: relative;
        margin: 0 auto;
        width: 1200px;
        .sns {
            height: 115px;
            padding-left: 130px;
            position: absolute;
            top: 653px;
            left: 26px;
            background: url(../images/S.png) no-repeat left;
        }
        dt {
            color: #a3a3a3;
            font-size: 24px;
            margin-bottom: 5px;
        }
        dd {
            line-height: 20px;
            font-size: 15px;
            color: #a3a3a3;
        }
        .e-mail {
            height: 115px;
            padding-left: 130px;
            background: url(../images/E.png) no-repeat left;
            position: absolute;
            left: 286px;
            top: 492px;
        }
        .adress {
            height: 115px;
            padding-left: 130px;
            background: url(../images/A.png) no-repeat left;
            position: absolute;
            left: 544px;
            top: 326px;
        }
        .tell {
            height: 115px;
            padding-left: 130px;
            background: url(../images/M.png) no-repeat left;
            position: absolute;
            left: 804px;
            top: 163px;
        }
    }
}

@keyframes slide-left {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes breathe {
    0% {
        opacity: 1;
    }
    70% {
        opacity: .1;
    }
}

.product_spread {
    background: #333333;
    width: 100%;
    padding-top: 35px;
    // padding-bottom: 70px;
    // height: 0;
    overflow: hidden;
    // position: absolute;
    // left: 0;
    .spread_content {
        width: 1200px;
        margin: 0 auto;
        h1 {
            font-size: 60px;
            color: #cb134b;
            float: left;
            margin: 0;
            width: 300px;
        }
        .explain {
            padding-top: 10px;
            width: 870px;
            margin-left: 15px;
            float: left;
            .title {
                font-size: 18px;
                color: #d0d0d0;
                margin-bottom: 10px;
            }
            .introduce {
                font-size: 14px;
                color: #929292;
            }
        }
        .product_show {
            width: 1200px;
            height: 700px;
            position: relative;
            background: url(../images/loading.gif) center center no-repeat;
            .cancel {
                width: 90px;
                height: 90px;
                display: block;
                position: absolute;
                right: -45px;
                top: -45px;
                background: url(../images/cancel.png) no-repeat
            }
            .pre {
                display: block;
                width: 50px;
                height: 50px;
                position: absolute;
                top: 325px;
                left: -50px;
                overflow: hidden;
                background: url(../images/pre.png) center center no-repeat
            }
            .next {
                display: block;
                width: 50px;
                height: 50px;
                position: absolute;
                top: 325px;
                right: -50px;
                overflow: hidden;
                background: url(../images/next.png) center center no-repeat
            }
            img {
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }
}

@media only screen and(min-width: 1920px) {
    .floor_1 {
        position: relative;
        width: 100%;
        // min-height: 635px;
        height: 100%;
        z-index: 0;
        .nav_show {
            height: 72%;
        }
        .nav {
            position: relative;
            // height: 28%;
            height: 200px;
            ul {
                .more {
                }
            }
        }
    }
    .floor_6 {
        .item {
            .ul_lside_1 {
                height: auto;
            }
            .ul_lside {
                height: auto;
            }
            .ul_rside {
                height: auto;
            }
            .ul_rside_1 {
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
    .header {
        .head {
            padding: 10px 0px 7px 0px;
            ul {
                li {
                    float: left;
                    margin-left: 33px;
                    line-height: 35px;
                    font-size: 14px;
                }
            }
        }
    }
    .floor_1 {
        // height: 100%; 
        .nav_show {
            // height: 100%; 
            .title {
                padding-top: 150px;
                margin-bottom: 20px;
                font-size: 30px;
            }
            .logo_font {
                margin-top: 30px;
            }
            .down {
                margin: 20px auto;
                z-index: 999;
            }
        }
        .nav {
            padding-bottom: 0;
            ul {
                width: 1024px;
                margin: 0 auto;
                li {
                    float: left;
                    width: 160px;
                    &:hover .img {
                        transform: scale(1.1, 1.1);
                    }
                    .img {
                        margin: 0 auto;
                        width: 56px;
                        height: 62px;
                    }
                    .title_n {
                        font-size: 18px;
                        color: #989898;
                        margin-top: 15px;
                        text-align: center;
                    }
                    .title_n_d {
                        font-size: 12px;
                        color: #989898;
                        margin-top: 15px;
                        text-align: center;
                    }
                }
                .li_1 {
                    background: url(../images/nav_r.png) no-repeat right 10px;
                    padding-bottom: 50px;
                }
                .more {

                }
            }
        }
    }
    .floor_2 {
        #more {
            background: #000000;
            padding-bottom: 50px;
            // display: none;
            ul {
                width: 1024px;
                margin: 0 auto;
                li {
                    float: left;
                    width: 206px;
                    margin: 0 17px;
                    &:hover {
                        transform: rotateY(360deg);
                        transition: all 2s;
                    }
                    .img {
                        margin: 0 auto;
                        text-align: center;
                        width: 100px;
                        height: 100px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .name {
                        margin-bottom: 5px;
                    }
                    .describe {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .floor_5 {
        .awards {
            width: 1024px;
            overflow: hidden;
        }
    }
    .floor_6 {
        height: 1200px;
        .item {
            width: 1024px;
            height: 840px;
            overflow: hidden;
        }
        .company {
            max-width: 960px;
            li {
                font-size: 12px;
                color: #878787;

                .city {
                    font-size: 20px;
                    font-weight: 600;
                    margin-right: 20px;
                }
                i {
                    font-size: 16px;
                    float: right;
                    font-style: normal;
                }
            }
        }
    }
    .floor_7 {
        height: 755px;
        background-size: 1200px auto;
        .title-empty-box{
            height: 122px;
        }
        .contact {
            width: 1024px;
            height: 600px;
            dt {
                color: #a3a3a3;
                font-size: 14px;
                margin-bottom: 0px;
            }
            dd {
                line-height: 15px;
                font-size: 12px;
                color: #a3a3a3;
            }
            .sns {
                height: 80px;
                padding-left: 100px;
                top: 442px;
                left: 154px;
                background: url(../images/S_m.png) no-repeat left;
            }
            .e-mail {
                height: 80px;
                padding-left: 100px;
                background: url(../images/E_m.png) no-repeat left;
                top: 338px;
                left: 315px;
            }
            .adress {
                height: 80px;
                padding-left: 100px;
                background: url(../images/A_m.png) no-repeat left;
                top: 236px;
                left: 478px;
            }
            .tell {
                height: 80px;
                padding-left: 100px;
                background: url(../images/M_m.png) no-repeat left;
                top: 132px;
                left: 641px;
            }
        }
    }
    .product_spread {
        padding-bottom: 40px;
        .spread_content {
            width: 800px;
            h1 {
                font-size: 60px;
                font-weight: 200;
                width: 300px;
            }
            .explain {
                padding-top: 10px;
                width: 485px;
                margin-left: 15px;
                float: left;
                .title {
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                .introduce {
                    font-size: 14px;
                }
            }
            .product_show {
                width: 800px;
                height: 380px;
                position: relative;
                background: url(../images/loading.gif) center center no-repeat;
                .cancel {
                    width: 90px;
                    height: 90px;
                    display: block;
                    position: absolute;
                    right: -45px;
                    top: -45px;
                    background: url(../images/cancel.png) no-repeat
                }
                .pre {
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 145px;
                    left: -50px;
                    overflow: hidden;
                    background: url(../images/pre.png) center center no-repeat
                }
                .next {
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 145px;
                    right: -50px;
                    overflow: hidden;
                    background: url(../images/next.png) center center no-repeat
                }
                img {
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    .floor_7 {
        height: 625px;
        background-size: 1024px auto;
        .title-empty-box{
            height: 106px;
        }
        .contact {
            width: 800px;
            height: 600px;
            dt {
                color: #a3a3a3;
                font-size: 14px;
                margin-bottom: 0px;
            }
            dd {
                line-height: 15px;
                font-size: 12px;
                color: #a3a3a3;
            }
            .sns {
                height: 80px;
                padding-left: 80px;
                top: 365px;
                left: 100px;
                background: url(../images/S_m.png) no-repeat left;
            }
            .e-mail {
                height: 80px;
                padding-left: 80px;
                background: url(../images/E_m.png) no-repeat left;
                top: 277px;
                left: 236px;
            }
            .adress {
                height: 80px;
                padding-left: 80px;
                background: url(../images/A_m.png) no-repeat left;
                top: 188px;
                left: 375px;
            }
            .tell {
                height: 80px;
                padding-left: 80px;
                background: url(../images/M_m.png) no-repeat left;
                top: 100px;
                left: 513px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .header {
        .head {
            padding: 10px 0px 7px 0px;
            ul {
                li {
                    float: left;
                    margin-left: 33px;
                    line-height: 30px;
                    font-size: 12px;
                }
            }
        }
    }
    .floor_1 {
        padding-bottom: 0;
        .nav {
            ul {
                width: 756px !important;
                margin: 0 auto;
                li {
                    float: left;
                    width: 126px;
                    margin-top: 0 !important;
                    &:hover .img {
                        transform: scale(1.1, 1.1);
                    }
                    .img {
                        margin: 0 auto;
                        width: 42px;
                        height: 48px;
                        img{
                        	width: 100%;
                        	height: 100%;
                        }
                    }
                    .title_n {
                        font-size: 14px;
                        color: #989898;
                        margin-top: 15px;
                        text-align: center;
                    }
                    .title_n_d {
                        font-size: 12px;
                        color: #989898;
                        margin-top: 10px;
                        text-align: center;
                    }
                }
                .li_1 {
                    background: url(../images/nav_r.png) no-repeat right 10px;
                }
                .more {
                }
            }
        }
    }
    .floor_2 {
        #more {
            background: #000000;
            padding-bottom: 50px;
            display: none;
            ul {
                width: 840px;
                margin: 0 auto;
                li {
                    float: left;
                    width: 180px;
                    margin: 0 15px;
                    .img {
                        margin: 0 auto;
                        text-align: center;
                        width: 80px;
                        height: 80px;
                    }
                    .name {
                        margin-bottom: 5px;
                        font-size: 14px;
                    }
                    .describe {
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .floor_5 {
        height: 700px;
        .awards {
            margin-top: 80px;
            ul {
                width: 840px;
                li {
                    width: 145px;
                    margin: 0 30px;
                    .img {
                        width: 145px;
                        img {
                            width: 100%;
                        }
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .floor_6 {
        height: 1170px;
        .item {
            width: 780px;
            height: 630px;
            ul {
                li {
                    width: 150px;
                    height: 210px;
                    .introduce {
                        padding: 10px;
                        .name {
                            font-size: 14;
                            margin-bottom: 5px;
                        }
                        .text {
                            font-size: 12px;
                            line-height: 15px;
                        }
                    }
                }
            }
            .ul_1 {
                left: 0px;
                li:last-child {
                    height: 195px;
                }
            }
            .ul_2 {
                left: 156px;
                li:first-child {
                    height: 120px;
                }
                li:last-child {
                    height: 50px;
                }
            }
            .ul_3 {
                left: 312px;
                li:last-child {
                    height: 120px;
                }
            }
            .ul_4 {
                left: 468px;
                li:last-child {
                    height: 60px;
                }
            }
            .ul_5 {
                left: 624px;
                li:last-child {
                    height: 197px;
                }
            }
        }
        .company {
            width: 760px;
            li {
                width: 50%;
                font-size: 6px;
                color: #878787;
                .city {
                    font-size: 14px;
                    font-weight: 600;
                    margin-right: 5px;
                }
                i{
                    visibility: hidden;
                }
            }
        }
    }
    .product_spread {
        padding-bottom: 40px;
        .spread_content {
            width: 620px;
            h1 {
                font-size: 40px;
                font-weight: 200;
                width: 200px;
            }
            .explain {
                padding-top: 10px;
                width: 405px;
                margin-left: 15px;
                float: left;
                .title {
                    font-size: 12px;
                    margin-bottom: 0px;
                }
                .introduce {
                    font-size: 8px;
                }
            }
            .product_show {
                width: 620px;
                height: 380px;
                position: relative;
                background: url(../images/loading.gif) center center no-repeat;
                .cancel {
                    width: 90px;
                    height: 90px;
                    display: block;
                    position: absolute;
                    right: -45px;
                    top: -45px;
                    background: url(../images/cancel.png) no-repeat
                }
                .pre {
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 145px;
                    left: -50px;
                    overflow: hidden;
                    background: url(../images/pre.png) center center no-repeat
                }
                .next {
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 145px;
                    right: -50px;
                    overflow: hidden;
                    background: url(../images/next.png) center center no-repeat
                }
                img {
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
    .header {
        .head {
            .logo {
                width: 150px;
                img {
                    width: 100%;
                }
            }
            .nav {
                li {
                    margin-left: 25px;
                }
            }
        }
    }
    .floor_1 {
        .nav_show {
            .title {
                padding-top: 120px;
                font-size: 24px;
            }
            .logo_img {
                img {
                    width: 90px;
                }
            }
            .logo_font {
                img {
                    width: 150px;
                }
            }
        }
        .nav {
            ul {
                width: 600px;
                li {
                    .title_s,
                    .title_n_s {
                        margin-top: 3px;
                    }
                }
                .li_1_s {
                    background: transparent;
                }
                .li_s {
                    margin-top: 10px;
                }
                .more {

                }
            }
        }
    }
    .floor_2{
    	#more{
    		width: 768px;
    		ul{
    			li{
    				width: 162px;
    				.name{
    					margin: 10px 0 5px;

    				}
    			}
    		}
    	}
    }
    .floor_3 {
    }
    .floor_5 {
        height: 500px;
        .awards {
            margin-top: 10px;
            ul {
                width: 650px;
                li {
                    width: 132px;
                    margin: 0 15px;
                    .img {
                        width: 120px;
                    }
                }
            }
        }
    }
    .floor_6 {
        height: 900px;
        .item {
            width: 650px;
            height: 480px;
            overflow: hidden;
            ul {
                width: auto;
                li {
                    // height: 150px;
                    width: 150px;
                    height: 220px;
                }
                .li_s {
                    height: 0 !important;
                }
            }
            .ul_1 {
                left: 0;
                li:first-child {
                    height: 0;
                }
            }
            .ul_2 {
                left: 162px;
                li:first-child {
                    height: 0;
                }
            }
            .ul_3 {
                left: 324px;
                li:first-child {
                    height: 0;
                }
            }
            .ul_4 {
                left: 486px;
                top: 0px;
                li:first-child {
                    height: 0;
                }
            }
            .ul_5 {
                left: 0px;
                top: 226px;
                li:first-child {
                    height: 0;
                }
            }
        }
        .company {
            width: 650px;
            margin-top: 50px;
            ul {
                li {
                    font-size: 12px;
                    width: 325px;
                    padding: 0;
                    .city {
                        font-size: 14px;
                        // margin-right: 10px;
                    }
                    i{
                    	opacity: 0;
                    }
                    em{
                    	width: 44px !important;
                    	background-position: center!important;
                    }
                }
                // .li_1{
                // 	width: 160px;
                // }
                // .li_3{
                // 	width: 160px;
                // }
            }
        }
    }
    .floor_7 {
        height: 502px;
        background-size: 800px auto;
        .title-empty-box{
            height: 80px;
        }
        .contact {
            width: 650px;
            dt {
                color: #a3a3a3;
                font-size: 14px;
                margin-bottom: 0px;
            }
            dd {
                line-height: 15px;
                font-size: 12px;
                color: #a3a3a3;
            }
            .w-ele {
                position: relative;
                top: 0;
                left: 0;
                margin: 15px 0;
            }
            .sns {
                height: 80px;
                padding-left: 100px;
                background: url(../images/S_m.png) no-repeat left;
            }
            .e-mail {
                height: 80px;
                padding-left: 100px;
                background: url(../images/E_m.png) no-repeat left;
            }
            .adress {
                height: 80px;
                padding-left: 100px;
                background: url(../images/A_m.png) no-repeat left;
            }
            .tell {
                height: 80px;
                padding-left: 100px;
                background: url(../images/M_m.png) no-repeat left;
            }
        }
    }
}

@media only screen and (max-width: 499px) {
    .floor_7 {
        height: 450px;
        background-size: 750px auto;
        .contact {
            width: 400px;
            dt {
                color: #a3a3a3;
                font-size: 14px;
                margin-bottom: 0px;
            }
            dd {
                line-height: 15px;
                font-size: 12px;
                color: #a3a3a3;
            }
            .w-ele {
                position: relative;
                top: 0;
                left: 0;
                margin: 10px 0;
            }
            .sns {
                height: 80px;
                padding-left: 100px;
                background: url(../images/S_m.png) no-repeat left;
            }
            .e-mail {
                height: 80px;
                padding-left: 100px;
                background: url(../images/E_m.png) no-repeat left;
            }
            .adress {
                height: 80px;
                padding-left: 100px;
                background: url(../images/A_m.png) no-repeat left;
            }
            .tell {
                height: 80px;
                padding-left: 100px;
                background: url(../images/M_m.png) no-repeat left;
            }
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {}

@media only screen and (max-width: 479px) {}
